body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.selection {
    display: flex;
    margin: 8px;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 300px;
    align-items: center;
    flex: 1;
}

#classContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;
    flex: 1;
}

#raceContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;
    flex: 1;
}

.characterPreview {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 75px;
}

.attributes {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 200px;
}

.equipmentBlock {
    display: flex;
    flex-direction: row;
    gap: 150px;
}
